# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files and build
dist/**/*
build

# ignore yarn.lock
yarn.lock

# logging
debug.log